.comments__title {
  max-width: 800px;
  font-weight: 900;
  font-size: 72px;
  line-height: 78px;
  text-align: center;
  margin: 0 auto 48px;
}

@media all and (max-width: 768px) {
  .comments__title {
    font-size: 42px;
    line-height: 46px;
    margin-bottom: 24px;
  }
}

@media all and (max-width: 605px) {
  .comments__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 16px;
  }
}
