.video__subtitle {
  max-width: 640px;
  font-size: 24px;
  line-height: 35px;
  margin: 0 auto 72px;
  text-align: center;
}

@media all and (max-width: 1023px) {
  .video__subtitle{
    margin-bottom: 53px;
  }
}
@media all and (max-width: 660px) {
  .video__subtitle {
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 24px;
  }
}
